.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.MuiDrawer-paper ,.MuiPaper-root {
  background-color: black;
  color:white
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< Updated upstream
=======


/* the cod for thems start from here.... */
:root {
  --headings-color: #000000;
  --box-shadow: none;
  --desc-color: #fff;
  --drawer-bg-color:#000;
  --color: #ffffffbf;
  --drawer-bg-color:#fff;
  --paper-color:#e4d9d971;
}



body[data-theme="dark-theme"] {
  --bg-color: linear-gradient(
    to left bottom,
    #001f2f,
    #0d1727,
    #131421,
    #150f1b,
    #130c15,
    #100a10,
    #0d0508,
    #090000,
    #0b0203,
    #100308,
    #130410,
    #140410
  );
  --headings-color: transparent;
  --box-shadow: none;
  --desc-color: #fff;
  --drawer-bg-color:transparent;
  --color: #ffffffbf;
  --paper-color:#3f3d3dcb;
  --border: 1px solid white;
}

body[data-theme="sea-theme"] {
  --bg-color: linear-gradient(to right top, #fce9f4, #fbedf8, #fbf2fb, #fbf6fd, #fcfafe, #fcfbff, #fbfbff, #fbfcff, #f7faff, #f2f8ff, #ecf6ff, #e6f5ff);
  --headings-color: #fdeef6;
  --desc-color: #000000;
  --drawer-bg-color: #fdeef6;
  --color: #000; 
  --box-shadow: 0 0 4px rgba(128, 128, 128, 0.5);
  --paper-color:#e4e4e4cb;
}

body[data-theme="sharp-theme"] { 
--bg-color:  linear-gradient(to left, #9796f0, #fbc7d4);
--headings-color: linear-gradient(to left, #9796f0, #fbc7d4);
--desc-color: #000000;
--drawer-bg-color:linear-gradient(to left, #9796f0, #fbc7d4);
--color: #000;
--box-shadow: 0 0 5px gray;
--paper-color:#977d7dcb;
}

body {
  background: var(--bg-color) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-container {
  margin-top: 5rem;
}

.hero-section-headings {
  padding-top: 3rem;
}

.heroImg {
  width: 100%;
  height: 100%;
}

.hearo-section-title {
  margin-bottom: 16px;
  color: var(--headings-color);
}
.select-theme-heading {
  color: var(--headings-color);
}

.hero-section-desc {
  margin-right: 5rem;
  color: var(--desc-color);
}

.select-theme-div .btn {
  margin-right: 1rem;
  width: 100px;
  margin-top: 16px;
}

#hero-btn1 {
  background-color: black;
  border: 1px solid black;
  box-shadow: none;
}

#hero-btn2 {
  background-color: white;
  border: 1px solid black;
  color: black;
  box-shadow: none;
}

#hero-btn3 {
  background-color: #0099cc;
  border: 1px solid #0099cc;
  color: white;
  box-shadow: none;
}

#hero-btn4 {
  background-color: #d67d3e;
  border: 1px solid #d67d3e;
  color: black;
  box-shadow: none;
}
>>>>>>> Stashed changes
